<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Pet Name:</label>
  <input type="text" name="pet[name]" id="pet_name">
  <br>
  <p>Owner List:</p>
  <% Owner.all.each do |o| %>
    <input type="radio" name="pet[owner_id]" id="<%= o.id %>" value="<%= o.id %>"><%= o.name %></input><br>
  <% end %>
  <br>
  <p>New Owner:</p>
  <label>Owner Name: </label>
  <input type="text" name="owner[name]" id="owner_name"></input>
  <br><br>

  <input type="submit" value="Create Pet">

</form>